<table class="table">
  <thead>
    <tr>
      <th>Nr</th>
      <th *ngFor="let item of config">{{item.key}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let idx = index">
      <td>{{idx}}</td>
      <td *ngFor="let col of config">
        <div [ngSwitch]="col.type">

          <div *ngSwitchCase="'input'">
            <input type="text" class="form-control" [value]="item[col.key]">
          </div>

          <div *ngSwitchCase="'image'">
            <img [src]="item[col.key]" width="40" alt="1">
          </div>

          <div *ngSwitchCase="'button'">
            <button (click)="onClick(item.id, col.text)">{{col.text}}</button>
          </div>

          <div *ngSwitchDefault>
            {{item[col.key]}}
          </div>

        </div>
      </td>
    </tr>
  </tbody>
</table>
