<p>add-item works!</p>
<ng-template #t>
  s: {{f.submitted}}
  <form #f="ngForm" id="add-item-form" class="modal-body bg-light" (submit)="send(f)">
    <div class="mb-3">
        <input class="form-control" type="text" placeholder="title" name="title" ngModel required minlength="5">
        <div class="text-danger">
          {{f.controls['title']?.errors|json}}
        </div>
        <app-errors *ngIf="f.submitted" [errors]="f.controls['title']?.errors"></app-errors>
    </div>
    <div class="mb-3">
        <input class="form-control" type="number" placeholder="price" name="price" required ngModel>
        <div class="text-danger" *ngIf="f.controls['price']?.hasError('required')">
          pole wymagane
        </div>
        <app-errors [errors]="f.controls['price']?.errors"></app-errors>
    </div>
    <div class="mb-3">
        <select name="category" class="form-control" required ngModel>
            <option value="" disabled selected>category</option>
            <option value="food">food</option>
            <option value="clothes">clothes</option>
        </select>
        <app-errors [errors]="f.controls['category']?.errors"></app-errors>
    </div>
    <hr>
    <button class="btn btn-secondary">
        send item
    </button>
</form>
</ng-template>
<button (click)="open(t)">new</button>
