<div class="row">
  <div class="col-3">
    <app-search [controls]="['title', 'priceFrom']" (action)="updataFilters($event)"></app-search>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-2">
        <select class="form-control" #ipp (change)="updataFilters({itemsPerPage:ipp.value})" [ngModel]="filters.value.itemsPerPage">
          <option *ngFor="let item of [2,5,10]">
            {{item}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <app-add-item (close)="fetchItems()"></app-add-item>
      </div>
      <div class="col-8">
        <ngb-pagination [collectionSize]="total" [pageSize]="filters.value.itemsPerPage || 1" (pageChange)="updataFilters({currentPage: $event})"></ngb-pagination>
      </div>
    </div>
    <app-grid (action)="onAction($event)" [data]="gdata" [config]="gConfig"></app-grid>
  </div>
</div>
