<p>workers works!</p>

<app-search [controls]="['name', 'phone']" (action)="filters = $event"></app-search>

<app-grid [data]="(workers$|async) || [] | search: filters" [config]="wConfig"></app-grid>
