{{f.value|json}}
<form #f="ngForm">
  <div class="card card-body" *ngFor="let control of controls">
    <label>
      {{control}}
    </label>
    <input type="text" [name]="control" ngModel>
  </div>
</form>
