<div class="row">
    <div class="col-6">
      <form [formGroup]="form">

        <div class="card card-body m-2 bg-info">
          username
          <input type="text" formControlName="username">
          <div class="text-danger">
              {{form.get('username')?.errors|json}}
          </div>
        </div>

        <div class="card card-body m-2 bg-info">
          birth date
          <input type="date" formControlName="birthDate">
          <div class="text-danger">
              {{form.get('birthDate')?.errors|json}}
          </div>
        </div>


        <div class="card card-body m-2 bg-info" formGroupName="hobbies">
          <!-- {{form.get('hobbies')?.value|json}} -->
          <label *ngFor="let item of form.get('hobbies')?.value |keyvalue">
            {{item.key}}
            <input type="checkbox" formControlName="{{item.key}}">
          </label>
          <app-errors [errors]="form.get('hobbies')?.errors"></app-errors>
        </div>


        <div class="card card-body m-2 bg-info" formGroupName="passwordsGroup">
          <input type="text" *ngFor="let item of form.get('passwordsGroup')?.value |keyvalue trackBy: order" formControlName={{item.key}}>
          <app-errors [errors]="form.get('passwordsGroup')?.errors"></app-errors>
        </div>


        <div class="card card-body m-2 bg-info" formArrayName="questions">
          {{form.get('questions')?.value|json}}
          <label *ngFor="let item of form.get('questions')?.value;  trackBy: order; let idx=index" >
            <input type="text" formControlName="{{idx}}">

          </label>
          <button (click)="addQ()">add</button>
          <app-errors [errors]="form.get('questions')?.errors"></app-errors>
        </div>

      </form>
    </div>
    <div class="col-6">
      <pre>{{form.value|json}}</pre>
    </div>
  </div>
