<form #f="ngForm" (submit)="onSubmit(f.value)" *ngIf="!authService.access">
  <input type="text" name="username" ngModel='admin@local' required>
  <input type="text" name="password" ngModel='Admin1' required pattern="\w{3,6}">
  <button [disabled]="!f.valid">send</button>
</form>


<button *ngIf="authService.access" (click)="logout()">log out</button>
