


<div *ngIf="data$ | async as mydata">

<div *ngFor="let item of mydata | keyvalue">
  {{item.key}} : {{item.value}}
</div>

<app-grid [data]="mydata|keyvalue" [config]="[{key:'key'},{key:'value'}]"></app-grid>

</div>
